/* h1 {
  color: red;
}

#introducao{
  color: gold;
}

.codigo{
  color: orange;

}

.design{
  color: red;
}

.underline{
  text-decoration: underline;
}

.grande{
  font-size: 32px;
}

h1{

  background: #f00;
  /* color: black; */
  /* color: #000; */
  /* color: rgb(0,0,0); */
/*  color: rgba(0,0,0, .5);

} 

a{
  background: #84e;
  color: #fff;
  font-size: 30px;
} */

/* div{
  font-size: 3rem;
  background: #f56;
  width: 320px;
  height: 140px;
  padding: 30px;
  border: 5px solid black;
  margin: 20px;
}

h1{
  background: #84e;
  padding: 20px;
  width: 200px;
  border: 4px solid black;
  margin: 20px;

} */

.padding{
  width: 300px;
  background: blue;
  color: white;
  /* padding: 30px; todos os lados estão com esse valor */
  /* padding-top: 30px; somente o top está com esse valor */
  /* padding-right: 300px; somente o right está com esse valor */
  /* padding-bottom: 30px; somente o bottom está com esse valor */
  /* padding-left: 30px; somente o left está com esse valor */
  
  /* padding: 30px 20px  50px 60px; aqui os valores estão individuais começando pelo top right bottom left */
  
  padding: 30px;


}